/**     Estilos    **/

/**General**/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto',sans-serif; }

    /**Navbar**/
  
  .navbar-collapse {
    align-items: center;
    flex-grow: 0;
    color: white; }

    /**INDEX**/
  
  .container h1 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    padding: 10px; }
  
  .textogaleria h1 {
    color: white;
    text-align: center;
    justify-content: center;
    margin: 30px; }
    .textogaleria h1 hr {
      color: firebrick; }
  
  .container h2 {
    text-align: center;
    padding: 20px; }
  
  .container .containerdax {
    position: relative;
    width: 50%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto; }
  
  .container .image {
    display: block;
    width: 100%;
    height: auto; }
  
  .container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease; }
  
  .container .containerdax:hover .overlay {
    height: 100%; }
  
  .container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  
  .textocolor h1 {
    color: white;
    text-align: center;
    justify-content: center;
    margin: 30px; }
  

    /**EVENTOS**/
  .fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px; }
  
  .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear; }
  
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black; }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out; }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  
  .fancy:hover {
    color: white;
    background: black; }
  
  .fancy:hover::before {
    width: 0.9375rem;
    background: white; }
  
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em; }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px; }
  
  .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0; }
  
  .mainNosotros {
    padding: 50px;
    display: flex;
    flex-direction: column; }
  
  .contenido p {
    color: whitesmoke;
    padding: 50px;
    text-align: center; }
  
  .contenido h1 {
    text-align: center; }
  
  .contenido .tituloh1 h1 {
    width: 200px;
    height: 100px;
    background: blue;
    background-color: white;
    transition: width 2s;
    color: black;
    float: initial;
    margin-left: auto;
    margin-right: auto; }
  
  .contenido .tituloh1 h1:hover {
    width: 300px; }
  
  .w3-container, .w3-card-4, .w3-card-5 {
    justify-content: space-between;
    display: flex;
    flex-direction: row; }
  
  .w4-container {
    color: white; }
  
  .w3-card-4 {
    color: grey; }
  
  .w3-card-5 {
    color: crimson; }
  

/**Contacto**/

  button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    float: right;
    margin: 10px; }
    button span {
      display: block;
      margin-left: 0.3em;
      transition: all 0.3s ease-in-out; }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out; }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate; }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1); }
  
  button:hover span {
    transform: translateX(5em); }
  
  button:active {
    transform: scale(0.95); }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em); }
    to {
      transform: translateY(-0.1em); } }
  

/**Footer**/

  .footer {
    margin: 30px; }
  
  .footer .row a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 30mms ease; }
  
  .footer img {
    max-width: 170px;
    width: 100px;
    height: 100px; }
  
  .footer h5 {
    text-align: center;
    margin: 20px;
    font-size: small; }
  
  .footer .row a:hover {
    color: darkred; }



/**JS INDEX**/


img {
    width: 100%;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    
    margin-bottom: 20px;
}
h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}



#boton-carrito {
    border: none;
    color: black;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: darkred;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #ececec;
  color: #000000;
}
.boton-agregar:hover {
  color: #fff;
}
.boton-agregar:hover:after {
  width: 100%;
}
.boton-agregar:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #141112;
}
.boton-agregar:focus {
    outline: none;
}





.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: darkred;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito p{
    color: #000;
}
.productoEnCarrito:hover {
    border-left: 5px solid darkred;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}


